/* card for smnsh */

.card.smnshCard {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* card-body */

.card.smnshCard .card-body .input-group .input-group-text {
    width: 150px;
    border-radius: 10px 0 0 10px;
}
.card.smnshCard .card-body .input-group .form-control {
    border-radius: 0 10px 10px 0;
}
.card.smnshCard .card-body .input-group .form-control {
    border-radius: 0 10px 10px 0;
}