@charset "UTF-8";

.col .project-details-column {
	text-align: top;
	margin: 2px;
	min-width: 500px; 
	min-height: 250px;
}

.row .project-details-first-row {
	border-top: 1px solid lightgray;
	height: 4em;
}

.row .project-details-row {
	border-top: 1px solid lightgray;
	height: 4em;
}

.row .project-details-last-row {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	height: 4em;
}